<!DOCTYPE HTML>
{% extends 'dishes/base.html' %}
{% load static %}
{% load cache %}
{% load humanize %}

{% block inscription %}
	<h1>See our menu</h1>
{% endblock %}

{% block content %}
	<div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Our Delicous Menu</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis. Ad magni perspiciatis, voluptatum repellat.</p>
						</div>
					</div>
				</div>
				{% for dish in dishes %}
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
						<div class="fh5co-item animate-box">
							<img src="{{ dish.image.url }}" class="img-responsive" alt="image-error">
							<h3>{{ dish.name }}</h3>
							<span class="fh5co-price">{{ dish.price|floatformat:"0"|intcomma }} руб.<sup></sup></span>
							<p>{{ dish.description }}</p>
							<a class="btn btn-outline-success"
							   href="{% url 'dishes:basket_add' dish.id %}">
								Отправить в корзину
							</a>
						</div>
					</div>
				{% endfor %}
				<div class="products-container">
					<ul class="product-list">
						<!-- список продуктов -->
					</ul>
					{% if is_paginated %}
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
									<a class="page-link" href="{% if page_obj.has_previous %} {% url 'dishes:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}" tabindex="-1" aria-disabled="true">Предыдущая</a>
								</li>
								{% for page in paginator.page_range %}
									<li class="page-item"><a class="page-link" href="{% url 'dishes:paginator' page %}">{{ page }}</a></li>
								{% endfor %}
								<li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
									<a class="page-link" href="{% if page_obj.has_next %} {% url 'dishes:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">Слудующая</a>
								</li>
							</ul>
						</nav>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Testimony</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis.</p>
						</div>
					</div>
				</div>

				<div class="col-md-5 animate-box img-to-responsive">
						<img src="/static/images/person_1.jpg" alt="image error">
				</div>
				<div class="col-md-7 animate-box">
					<blockquote>
						<p> &ldquo; Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam. &rdquo;</p>
						<p class="author"><cite>&mdash; Jane Smith</cite></p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}
<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>


