{% load static %}
<nav class="fh5co-nav" role="navigation">
     <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center logo-wrap">
                    <div id="fh5co-logo"><a href="index.html">Tasty<span>.</span></a></div>
                </div>
                <div class="col-xs-12 text-center menu-1 menu-wrap">
                    <ul>
                        <li {% if request.resolver_match.view_name == 'index' %}class="active"{% endif %}><a href="{% url 'index' %}">Главная</a></li>
                        <li {% if request.resolver_match.view_name == 'dishes:index' %}class="active"{% endif %}><a href="{% url 'dishes:index' %}">Меню</a></li>
                        <li><a href="{% url 'users:reservation' %}">Бронирование</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                        {% if user.is_authenticated %}
                            <li class="has-dropdown">
                                <a href="{% url 'users:basket' %}">Корзина</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'orders:orders-list' %}">Мои заказы</a></li>
                                    <li><a href="{% url 'users:logout' %}">Выйти</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="has-dropdown">
                                <a href="{% url 'users:login' %}">Sign in</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'users:register' %}">Create account</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
     </div>
</nav>